<!-- Navbar -->
<nav class="navbar">
  <div class="nav-container">
    <%= link_to "Login", new_user_session_path, class: "btn-nav" %>
    <%= link_to "Cadastro", new_user_registration_path, class: "btn-nav" %>
  </div>
</nav>

<!-- Conteúdo central -->
<div class="container">
  <h1>Authly</h1>
  <p>Bem-vindo! Autenticação inteligente na palma da sua mão.</p>
</div>
